.navigation {
  display: block;
  position: fixed;
  background: none;
  z-index: 1;
  color: white;
  justify-content: end;
  list-style: none;
  padding: 0 3vmin;
  margin: 0;
  height: 20vh;
  max-height: 100px;
  font-size: 0.85em;
  text-transform: lowercase;
  right: 0;
  top: 40px;
}

.navigationItem {
  display: block;
  text-align: right;
  align-items: center;
  margin: 0 1em;
}

.navigationItem a {
  color: currentColor;
  text-decoration: none;
}
